{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h2 class="account__title">Raidteilnehmer</h2>
                        <div class="raid__detail_container">
                            <div class="raid_event flex flex--row">
                                <div class="icon" style="background-image: url('{{ media(raid.icon) }}')"></div>
                                <div class="raid_details flex flex--column">
                                    <div class="title">{{ raid.title }}</div>
                                    <div class="date">{{ raid.date.date|date("d.m.Y") }}</div>
                                    <div class="description">{{ raid.description }}</div>
                                </div>
                            </div>
                            <div class="flex flex--row raid__member">
                                {% set classes = ['warrior', 'priest', 'druid', 'shaman', 'mage', 'warlock', 'hunter', 'rogue'] %}
                                {% for class in classes %}
                                    <div class="flex flex--column class__container">

                                        {% set icon = content( class ) %}
                                        {% set icon_media = media( icon.url, 50 ) %}

                                        <div class="class__icon"
                                             style="background-image:url('{{ icon_media }}'); background-size: cover">
                                        </div>

                                        {% for member in raid_members %}
                                            {% if member.class == class %}
                                                <div>{{ member.email }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                {% endfor %}
                            </div>


                        </div>
                    </div>

                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
