{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}

    <div class="account content">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content">
                        <h2 class="account__title">Raidanmeldung</h2>
                        <div style="margin-bottom: 1.2rem;">
                            Für eine Übersicht aller Raidteilnehmer auf das Icon oder den Titel klicken.
                        </div>
                        <div class="raid__event_container">

                            {% for raid in raids %}

                                <div class="raid_event flex flex--row">
                                    <a href="{{ url('frontend_account_raids_detail', {'raidId': raid.id }) }}"
                                       class="icon" style="background-image: url('{{ media(raid.icon) }}')"></a>
                                    <div class="raid_details flex flex--column">
                                        <a href="{{ url('frontend_account_raids_detail', {'raidId': raid.id }) }}">
                                            <div class="title">{{ raid.title }}</div>
                                        </a>
                                        <div class="date">{{ raid.date.date|date("d.m.Y") }}</div>
                                        <div class="description">{{ raid.description }}</div>
                                        <div class="form">

                                            {% if not user_raids[raid.id] %}
                                                <form
                                                    action="{{ url('frontend_account_raids_toggleRaid', {'raidId': raid.id }) }}"
                                                    method="post">
                                                    <div class="roles">
                                                        <input style="display: none" id="tank{{ raid.id }}" type="radio"
                                                               name="role" value="tank" required>
                                                        <label class="role" for="tank{{ raid.id }}">
                                                            {% set icon_tank = content('icon_tank') %}
                                                            <i class="icon icon__role"
                                                               style="background-image: url('{{ media(content('icon_tank').url, 50) }}');">
                                                            </i>
                                                        </label>
                                                        <input style="display: none" id="healer{{ raid.id }}"
                                                               type="radio" name="role" value="healer" required>
                                                        <label class="role" for="healer{{ raid.id }}">
                                                            <i class="icon icon__role"
                                                               style="background-image: url('{{ media(content('icon_healer').url, 50) }}');">
                                                            </i>
                                                        </label>
                                                        <input style="display: none" id="dps{{ raid.id }}" type="radio"
                                                               name="role" value="dps" required checked>
                                                        <label class="role" for="dps{{ raid.id }}">
                                                            <i class="icon icon__role"
                                                               style="background-image: url('{{ media(content('icon_dps').url, 50) }}');">
                                                            </i>
                                                        </label>
                                                    </div>
                                                    <input type="submit" value="anmelden"
                                                           class="button button--secondary">
                                                </form>

                                            {% else %}
                                                <form
                                                    action="{{ url('frontend_account_raids_toggleRaid', {'raidId': raid.id }) }}"
                                                    method="post">
                                                    <div class="chosen_roll">
                                                        <span>
                                                            Deine Rolle:
                                                        </span>
                                                        <i class="icon icon__role"
                                                           style="background-image: url('{{ media(content('icon_' ~ user_raids[raid.id].role).url, 50) }}')">
                                                        </i>
                                                    </div>

                                                    <input type="submit" value="abmelden"
                                                           class="button button--primary">

                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
