<h3 class="table__type" data-collapse="" data-collapse-target=".{{ raid }}--{{ type }}">{{ i18n(type) }}</h3>
<table class="loot_table {{ raid }}--{{ type }} collapsed">
    <tbody>
    {% for item in loot_table[raid][type] %}
        <tr>
            <td class="loot-item">
                <a href="https://de.classic.wowhead.com/item={{ item.itemNumber }}"></a>
            </td>
            <td class="loot-need">
                <form method="post" action="{{ url('frontend_account_loottable_preferences') }}" style="text-align: center">
                    <input type="hidden" name="itemId" value="{{ item.id }}">
                    <input type="hidden" name="demand" value="1">
                    {% if item.id in loot_preferences_users[current_user.id] %}
                    {% else %}
                        <button type="submit" data-tippy-content="<strong>Need</strong>" style="height: 3.5rem; width: 3.5rem; background-image: url('{{ media(content('loot_table_icon_1').url) }}');background-size: contain">
                        </button>
                    {% endif %}
                </form>
            </td>
            <td>
                <form method="post" action="{{ url('frontend_account_loottable_preferences') }}" style="text-align: center">
                    <input type="hidden" name="itemId" value="{{ item.id }}">
                    <input type="hidden" name="demand" value="2">

                    {% if item.id in loot_preferences_users[current_user.id] %}
                        <button class="is-need" type="submit"
                                data-tippy-content="<strong>Auswahl zurücksetzen</strong>">
                            <icon>
                                <svg class="icon icon--primary">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </icon>
                        </button>
                    {% else %}
                        <button type="submit" data-tippy-content="<strong>BiS</strong>" style="height: 3.5rem; width: 3.5rem; background-image: url('{{ media(content('loot_table_icon_2').url) }}'); background-size: contain">

                        </button>
                    {% endif %}
                </form>
            </td>
            <td class="loot-player">
                <button style="position: relative"
                    data-tippy-content="<p style='text-decoration: underline'>Need:</p>{% for user in loot_preferences_items[item.id] %}
                    {% if user.demand == 1 %}

                    <h3 class='color-{{ user.class }}'>{{ user.name }} [{{ dkp_lookup[user.name] }}]</h3>{% endif %}{% endfor %}

                    <p style='text-decoration: underline'>BiS:</p>
                    {% for user in loot_preferences_items[item.id] %}
                        {% if user.demand == 2 %}
                    <h3 class='color-{{ user.class }}'>{{ user.name }} [{{ dkp_lookup[user.name] }}]</h3>{% endif %}{% endfor %}">
                    <icon>
                        <svg class="icon icon--primary">
                            <use xlink:href="#insertion"></use>
                        </svg>
                    </icon>
                    <span style="color: lime; position: absolute; right: -2px; bottom: -6px">{{ loot_preferences_items[item.id]|length }}</span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

