<h2 class="table__type" data-collapse="" data-collapse-target=".{{ type }}" >{{ i18n(type) }}</h2>
<table class="loot_table {{ type }} collapsed">
    <thead>
    <tr>
        <td>
            Item
        </td>
        <td>
            form button
        </td>
        <td>
            preferences
        </td>
    </tr>
    </thead>
    <tbody>
    {% for item in loot_table.items[ type ] %}
        <tr>
            <td>
                {{ item.itemNumber }}
            </td>
            <td>
                {{ item.itemType }}
            </td>
            <td>
                button
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
