<h3 class="table__type" data-collapse="" data-collapse-target=".{{ raid }}--{{ type }}" >{{ i18n(type) }}</h3>
<table class="loot_table {{ raid }}--{{ type }} collapsed">
    <tbody>
    {% for item in loot_table[raid][type] %}
        <tr>
            <td class="item">
                <a href="https://de.wowhead.com/item={{ item.itemNumber }}"></a>
            </td>
            <td>
                need?
            </td>
            <td>
                button
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

